*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

plan.out
tfplan
*.plan

.terraform/
.terraform.lock.hcl

crash.log
crash.*.log

.DS_Store
Thumbs.db
desktop.ini

.vscode/
